alias k=kubectl
alias git=hub
alias ccv="circleci config validate"
alias k=kubectl
alias kc=kubectx
alias kn=kubens
alias rspi="ssh pi@192.168.0.42"
alias allvpn="sudo openvpn --config ${HOME}/.gavin.ovpn --redirect-gateway def1"
alias vpn="sudo openvpn --config ${HOME}/.gavin.ovpn"
