alias cat=ccat
alias k=kubectl
alias git=hub
alias ccv="circleci config validate"
alias k=kubectl
alias kc=kubectx
alias kn=kubens
alias rspi="ssh pi@192.168.0.42"
alias tts="ssh -i ~/.ssh/gavin-tts-dev.pem ubuntu@35.72.33.86"
alias allvpn="sudo openvpn --config ${HOME}/.gavin.ovpn --redirect-gateway def1"
alias vpn="sudo openvpn --config ${HOME}/.gavin.ovpn"
alias date='gdate'
