[user]
        name = gavinzhou
        email = gavin.zhou@gmail.com
        signingkey = C2B45BC4

[alias]
    br = branch
    ba = branch -a
    co = checkout
    st = status
[push]
        default = simple

[core]
    editor = "code --wait"
[color]
        ui = true
[commit]
        gpgsign = true
[gpg]
        program = /usr/local/bin/gpg